<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Calculator</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a style="cursor:pointer" class="nav-link" [ngClass]="{active: activeTab === 'tip-calculator'}" aria-current="page"
          (click)="goToTab('tip-calculator')">Tip Calculator</a>
          <a style="cursor:pointer;" class="nav-link" [ngClass]="{active: activeTab === 'Calculator'}"
          (click)="goToTab('Calculator')">Calculator</a>
        </div>
      </div>
    </div>
  </nav>
  <div>
    <app-calculator *ngIf="activeTab ==='Calculator'"></app-calculator>
  </div>
  <div>
    <app-tip-calculator *ngIf="activeTab ==='tip-calculator'"></app-tip-calculator>
  </div>
</div>
